body {
    background-color: white;
    margin: 0;
    font-family: 'Kalnia', serif;
    color: #F9629F;
    border: 2px solid #F9629F;
    font-size: 16px;
    text-align: center;    
  }
  .left {
    position: absolute;
    top: 140px;
    left: 180;
    width: 200px;
    height: 100px;
    border: 3px solid white;
  }
  .right {
    position: absolute;
    top: 140px;
    right: 180;
    width: 200px;
    height: 100px;
    border: 3px solid white;
  }
  
  nav  {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: #FFC0CB;;
    color: #F9629F;
    border: 2px solid #F9629F;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
  }
  
  nav a {
    text-decoration: none;
    background-color: #FFC0CB;
    color: #F9629F;
    margin-right: 15px;
    transition: color 0.3s ease-in-out;
  }
  
  nav a:hover {
    color: #ffcc00;
  }
  footer {
    display: flex;
    justify-content: center;
    background-color: #FFC0CB;
    color: #F9629F;
    padding: 20px;
  }

.first-section {
    background-color: #FFC0CB;
    padding: 20px;
    margin-bottom: 20px;
    color: #F9629F;
    border: 2px solid #F9629F;
    margin: 20px 0;
    font-size: 25px;
  }
  
  .first-section h1 {
    background-color: #FFC0CB;
    color: #73AD21;
    font-weight: bold;
  }
  .first-section h2 {
    background-color: #FFC0CB;
    color: #F9629F;
    font-family: 'Raleway', sans-serif;
  }

  .second-section {
    background-color: #FFC0CB;
    color: #F9629F;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #F9629F;
    margin: 20px 0;
    font-size: 20px;
  }
  
  .second-section h2 {
    font-weight: bold;
    background-color: #FFC0CB;
    color: #73AD21;
  }
  .three-col {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px; 
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 2000px;
    margin: 0 auto;
}
  .one {
    display:grid;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    font-size: 18px;
}
.one:hover {
  color: #F9629F;
  box-shadow: 0 0 5px #F9629F;
  text-shadow: 0 0 5px #F9629F;
}
.two {
  display: grid;
  align-items: center;
  width: 600px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  font-size: 18px;
}
.two:hover {
  color: #F9629F;
  box-shadow: 0 0 5px #F9629F;
  text-shadow: 0 0 5px #F9629F;
}
.three {
  display: grid;
  width: 500px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  font-size: 18px;
}
.three:hover {
  color: #F9629F;
  box-shadow: 0 0 5px #F9629F;
  text-shadow: 0 0 5px #F9629F;
}
  a {
    color: #F9629F;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
  }
  
  a:hover {
    color: #ffcc00;
  }
  .one-col {
    background-color: #FFC0CB;
    color: #F9629F;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
  }
  .card {
    background-color: #FFC0CB;
    color: #F9629F;
    border: 2px solid #F9629F;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
  }

  
  